.signup_form{
    width: 25rem;
    height: 30rem;
    border: 1px solid var(--primary-color);
    position: absolute;
    top: 60%;
    left: 50%; 
    padding: 4rem;
    text-align: center;
    transform: translate(-50%,-50%);
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.12), 0 1rem 1rem rgba(0,0,0,0.24);
    margin-top: 3.9rem;
}
.signup_form_text{
    font-size:2rem;
    font-weight:500;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: -3rem;
}
.signup_form input[type = "text"], .signup_form input[type = "password"]{
    border: none;
    background: none;
    display: block;
    margin: 2rem auto;
    color: var(--white-color);

    text-align: center;
    border: 2px solid var(--primary-color);
    width: 25rem;
    height: 0px;
    padding: 1.5rem 1rem;
    outline: none;
    transition: 0.25s;
    }

    .signup_form .button{
        width: 12rem;
    
    }
    .signup_form .button:hover{
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
        background-color: transparent;
    }
    .signup_link{
        display: block;
        margin-top:1.7rem;
    }
    .small_text{
        font-size:2rem;
       
    }
    .signup_text{
        color: var(--primary-color);
      font-size: 2rem;
    }