:root {
    --dark-black: #050505;
    --light-black: #4d4447;
    --white-color: #ffffff;
    --primary-color: #AB542F;
}


.navbar {
display: flex;
justify-content:space-between;
height: 9vh;
/* align-items: center; */
}

.navbar_media{
    height: 100%;
    width: 10rem;
}
.navbar_media img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.navbar_logo{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.navbar_logoname{
    color: var(--primary-color);
    font-family: 'Fredoka One', cursive;
    font-size: 4rem;
}

.navbar_genre{
display: flex;
gap: 2rem;
margin: auto;
align-items: center;
}

.navbar_text {
 color: var(--white-color);
 font-size: 2rem;
}
.navbar_profile{
    margin: auto 0;
}
.navbar_badge{
    /* border: 1px solid #ffff; */
    padding :  1rem 1.5rem;
    position: relative;
}
.navbar_badge_number{
    position: absolute;
    top: 0;
    right :0;
    color: var(--primary-color)
}